/src/main/java/com/example/fusionsystem/enity/Banner.java
/src/main/java/com/example/fusionsystem/enity/Goods.java
/src/main/java/com/example/fusionsystem/enity/Notice.java
/src/main/java/com/example/fusionsystem/enity/Type.java
/vue-project/package-lock.json
